/* Fix for channel text area misaligned */
.channelTextArea_f75fb0 { 
    margin-bottom: var(--space-10);
}

/* Just a small fix to make the spacing between the last message and the text area more consistent */
.visual-refresh .form_f75fb0 {
    margin-top: calc(0 - var(--space-4));
}

/* Puts the typing indicator above the text area */
.typingIndicator_2GUGCl {/*TODO*/
    margin-top: calc(0 - var(--space-8));
}

/* Bring back the Discord text in the top left corner (title bar) */
.bar_c38106[data-windows=true] {
    padding-left: var(--space-8);
}
/* Disabled because we are using the image instead..
 because i can't find the damn font */
/* .bar_c38106[data-windows=true]::after {
    content: "Discord";
    color: var(--text-tertiary);
    position: absolute;
    padding-left: 28px;
    font-family: Abcgintodiscordnord,sans-serif;
    font-weight: 700;
    line-height: .857143;
    font-size: 1rem;
} */

/* Add the logo to the top left corner (title bar) just like other apps */
/* Disabled because we are using the image instead..
 because i can't find the damn font */
/* .bar_c38106[data-windows=true]::before { 
    content: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z' class=''%3E%3C/path%3E%3C/svg%3E");
    padding-left: 0px;
    background-image: url('data:image/svg+xml,%3Csvg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" d="M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z" class=""%3E%3C/path%3E%3C/svg%3E');
    position: absolute;
} */

/* Sorry light mode users, i'll add a workaround for you later */
.bar_c38106[data-windows=true]::after {
    position: absolute;/*needed to break out of the flex.. https://stackoverflow.com/questions/40686928/pseudo-elements-breaking-justify-content-space-between-in-flexbox-layout#40687160 */
    padding-left: 8px;
    display: block;
    content: '';
    background-image: url(https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/66e90ab9506850e8a5dd48e3_Discrod_MainLogo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 15px;
    width: 120px;
    left: 8px;
}

/* Small lovely watermark */
.bar_c38106[data-windows=true]::before {
    content: "💜 fixed by @inxomnyaa";
    color: var(--text-tertiary);
    font-size: small;
    font-style: italic;
    /* stupid, but works as line wrap if position is relative */
    flex: 0 1 80px;
    left: 8px;
    padding-left: 108px;
    display: flex;
    width: 0px;
    position: absolute;
}

/* Bring back "Today at" */
span[class*="timestampInline_"] > [aria-label^="Today at"]::before {
    content: "Today at "
}